body{
  font-family: "Osvald", sans-serif !important;
  background: #f3f3f3;
  color: #232528;
}

.text-title{
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #232528;

}

.text-blue{
  color: #2a2a72;
}

.text-bright{
  color: #009ffd
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid  #232528  !important;

}