/* 
.card{
 border-color:transparent;
 transition:all 0.7s linear;

}
.card-footer{
  background: transparent;
  border-top: transparent;
  transition:all 0.7s linear;
}

.card-img-top{
  transition:all 0.7s linear;
}

.img-container{
 position: relative;
 overflow: hidden;
}

.img-container:hover .card-img-top{
  transform: scale(1.2);
}

.cart-btn{
  position: absolute;
  bottom:0;right:0;
  padding:0.2rem 0.4rem;
  background: var(--lightBlue);
  border:none;
  color: var(--mainWhite);
  border-radius: 0.2 0 0 0;
  transform: translate(100%,100%);
  transition:all 0.7s linear;
}

.img-container:hover .cart-btn{
  transform: translate(0,0);
}

.cart-btn:hover{
  background: var(--mainBlue);
 cursor: pointer;
} */